/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.spell-list .btn-toggle {
	border: none;
	background: none;
	font-size: 5rem;
	cursor: pointer;
  }
  
  .spell-list .btn-toggle::before {
	content: '+';
  }
  
  .spell-list .btn-toggle[aria-expanded="true"]::before {
	content: '-';
  }
  
  .spell-list .spells {
	display: none;
  }
  
  .spell-list .btn-toggle[aria-expanded="true"] + .spells {
	display: block;
  }

  .btn-toggle {
	background-color: #4CAF50; /* Set the background color */
	border: none; /* Remove the border */
	color: rgb(0, 0, 0); /* Set the text color */
	padding: 10px 20px; /* Set the padding */
	text-align: center; /* Center the text */
	text-decoration: none; /* Remove the underline */
	display: inline-block; /* Make it an inline block element */
	font-size: 16px; /* Set the font size */
	cursor: pointer; /* Set the cursor to a pointer */
	transition: all 0.3s ease; /* Add a transition effect */
  }
  
  .btn-toggle:hover {
	transform: scale(1.5); /* Scale the button on hover */
  }
  

/* Global Styles */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

header {
	background-color: #0B0D13;
	color: #fff;
	padding: 10px 0;
}

.logo {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 40px;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease-in-out;
}

nav a:hover {
	color: #F5A623;
}

.spellbook {
	background-color: #b3b3b367;
	padding: 50px 0;
}

/* Section Title */
.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  position: relative;
}

.section-title:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background-color: #F5A623;
  border-radius: 5px;
}

/* Spell Level Counters */
.spell-level-counters {
margin-top: 40px;
text-align: center;
font-size: 42px;
}

.spell-level-counters ul {
display: flex;
align-items: center;
justify-content: center;
list-style: none;
margin-top: 20px;
}

.spell-level-counters li {
margin: 0 20px;
}

.btn-reset-spells {
	background-color: #a0a0a0;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 36px;/*16 */
	font-weight: bold;
	cursor: pointer;
	position: relative;
	bottom: 20px;
	right: 20px;
	top: 20px;
	transition: background-color 0.3s ease-in-out;
	}

/* Spell List */
.spell-list {
margin-top: 40px;
}

.spell-level {
font-size: 24px;
margin-bottom: 20px;
text-transform: uppercase;
text-align: center;
}

.spells {
list-style: none;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 20px;
}

.spell {
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
position: relative;

margin-top: 10px;
}

.spell-name {
font-size: 40px;
font-weight: bold;
margin-bottom: 10px;
}

.spell-details {
margin-bottom: 10px;
font-size: 35px;
}

.spell-details p {
margin-bottom: 5px;
}

.btn-cast-spell {
background-color: #F5A623;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 5px;
font-size: 46px;/*16 */
font-weight: bold;
cursor: pointer;
position: absolute;
bottom: 20px;
right: 20px;
transition: background-color 0.3s ease-in-out;
}

.btn-cast-spell:hover {
background-color: #0B0D13;
}

.level-header {
	font-size: 48px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
.logo {
font-size: 24px;
margin-right: 20px;
}
  
 nav li {
	margin-left: 10px;
}

.spell-level {
	font-size: 20px;
}

.spell {
	padding: 15px;
}

.spell-details p {
	font-size: 14px;
}
}

@media screen and (max-width: 480px) {
.spell-level-counters li {
margin: 0 10px;
}
  
  .spell {
	padding: 10px;
}

.spell-name {
	font-size: 26px;
}

.spell-details p {
	font-size: 12px;
}

.btn-cast-spell {
	font-size: 14px;
}
}